:root {
    --white: #fff;
    --white-grey: #f5f6fa;
    --light-grey: #8395a7;
    --medium-grey: #576574;
    --dark-grey: #252A2E;
    --highlight: #B12704;
    --footer: #222f3e;
}

.container {
    margin: auto;
    padding: 2em;
}

.helperText {
    margin-top: 0.2em;
    margin-bottom:0;
    color: var(--medium-grey);
    font-size:0.9em;
}

/* CATEGORY HEADER */
.headerText {
    color: var(--dark-grey);
    margin-bottom:0.2em;
}

/* CATEGORIES */
.categories {
    display:flex;
    list-style:none;
    margin: 0.5em 0 0 0;
    padding:0;
    flex-wrap: wrap;
}

.categories li {
    /* padding-left: 0.1em;  */
    padding-right: 0.15em;
    padding-bottom: 0.15em;
    margin:0;
    display:grid;
}

.categories li button {
    background-color: var(--medium-grey);
    color:white;
    font-size:0.7em;
    padding: 0.3em 1em;
    border-radius: 0.2em;
}

.categories li button:hover {
    color: var(--medium-grey);
    background-color:white;
    border: solid 1px var(--medium-grey) !important;
    outline: 0;
    cursor: pointer;
    font-weight: 500;
}

.selected-category, .categories li button:active, .categories li button:focus {
    color: var(--highlight) !important;
    background-color:white !important;
    border: solid 1px var(--highlight) !important;
    outline: 0;
    font-weight: 500;
}

/* PRODUCTS */
.products {
    margin: 1em 0 0 0;
    padding:0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    align-items: stretch;
}

.products li {
    list-style:none;
    border: solid 1px var(--medium-grey);
    border-radius: 0.1em;
    padding: 0.5em;
}

.prod-header {
    display:flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    align-items: flex-start;
}

.prod-title {
    margin: 0em;
    color: var(--dark-grey);
}

.prod-price {
    margin-top:0.2em;
    color: var(--highlight);
    font-size:0.8em;
}

.prod-category {
    color: var(--light-grey);
    margin: 0 0 0 0.2em;
    font-size:0.6em;
}

.prod-description {
    color: var(--medium-grey);
    font-size:0.8em;
}